.idol_cgcute{color: #db4f6a;}
.idol_physical315{color: #ed1c24;}

.idol_cgcool{color: #2692d2;}
.idol_intelli315{color: #3887ff;}

.idol_cgpassion{color: #e68a25;}
.idol_mental315{color: #faac37;}

/* 디어리 스타즈 */
#idol_ai_hidaka{color:#e85786;}
#idol_eri_mizutani{color: #00adb9;}
#idol_ryo_akizuki{color: #b2d468;}

/* 본가 아이돌 이미지 컬러 */
#allstars_01{color: #e22b30;} /* 아마미 하루카 */
#allstars_02{color: #2743d2;} /* 키사라기 치하야 */
#allstars_03{color: #b4e04b;} /* 호시이 미키 */
#allstars_04{color: #d3dde9;} /* 하기와라 유키호 */
#allstars_05{color: #f39939;} /* 타카츠키 야요이 */
#allstars_06{color: #515558;} /* 키쿠치 마코토 */
#allstars_07{color: #fd99e1;} /* 미나세 이오리 */
#allstars_08{color: #a6126a;} /* 시죠 타카네 */
#allstars_09{color: #01a860;} /* 아키즈키 리츠코 */
#allstars_10{color: #9238be;} /* 미우라 아즈사 */
#allstars_11,#allstars_12{color: #ffe43f;} /* 후타미 아미-마미 */
#allstars_13{color: #01adb9;} /* 가나하 히비키 */

#allstars_ex{color: #f4bd6b;} /* 오토나시 코토리 */

/* 밀리언 스타즈 아이돌 이미지 컬러 */
#millionstars_14{color: #ea5b76;} /* 카스가 미라이 */
#millionstars_15{color: #6495cf;} /* 모가미 시즈카 */
#millionstars_16{color: #fed552;} /* 이부키 츠바사 */
#millionstars_17{color: #92cfbb;} /* 타나카 코토하 */
#millionstars_18{color: #9bce92;} /* 시마바라 엘레나 */
#millionstars_19{color: #58a6dc;} /* 사타케 미나코 */
#millionstars_20{color: #454341;} /* 토코로 메구미 */
#millionstars_21{color: #5abfb7;} /* 토쿠가와 마츠리 */
#millionstars_22{color: #ed90ba;} /* 하코자키 세리카 */
#millionstars_23{color: #eb613f;} /* 노노하라 아카네 */
#millionstars_24{color: #7e6ca8;} /* 모치즈키 안나 */
#millionstars_25{color: #fff03c;} /* 한다 로코 */
#millionstars_26{color: #c7b83c;} /* 나나오 유리코 */
#millionstars_27{color: #7f6575;} /* 타카야마 사요코 */
#millionstars_28{color: #b54461;} /* 마츠다 아리사 */
#millionstars_29{color: #e9739b;} /* 코사카 우미 */
#millionstars_30{color: #f7e78e;} /* 나카타니 이쿠 */
#millionstars_31{color: #bee3e3;} /* 텐쿠바시 토모카 */
#millionstars_32{color: #554171;} /* 에밀리 스튜어트 */
#millionstars_33{color: #afa690;} /* 키타자와 시호 */
#millionstars_34{color: #e25a9b;} /* 마이하마 아유무 */
#millionstars_35{color: #d1342c;} /* 키노시타 히나타 */
#millionstars_36{color: #f5ad3b;} /* 야부키 카나 */
#millionstars_37{color: #788bc5;} /* 요코야마 나오 */
#millionstars_38{color: #f19257;} /* 니카이도 치즈루 */
#millionstars_39{color: #f1becb;} /* 바바 코노미 */
#millionstars_40{color: #ee762e;} /* 오가미 타마키 */
#millionstars_41{color: #7278a8;} /* 토요카와 후카 */
#millionstars_42{color: #d7a96b;} /* 미야오 미야 */
#millionstars_43{color: #eceb70;} /* 후쿠다 노리코 */
#millionstars_44{color: #99b7dc;} /* 마카베 미즈키 */
#millionstars_45{color: #b63b40;} /* 시노미야 카렌 */
#millionstars_46{color: #f19591;} /* 모모세 리오 */
#millionstars_47{color: #aeb49c;} /* 나가요시 스바루 */
#millionstars_48{color: #6bb6b0;} /* 키타카미 레이카 */
#millionstars_49{color: #efb864;} /* 스오 모모코 */
#millionstars_50{color: #d7385f;} /* 줄리아 */
#millionstars_51{color: #b5b1e1;} /* 시라이시 츠무기 */
#millionstars_52{color: #152b65;} /* 사쿠라모리 카오리 */

#millionstars_officer{color:#5fd0cc;} /* 아오바 미사키 */


/* 샤이니 컬러즈 */

/* 일루미네이션 스타즈 */
#idol_sc_sakuragi{color:#ffbad6;}
#idol_sc_kazano{color:#144384;}
#idol_sc_hachimiya{color:#ffe012;}

/* 안티카 */
#idol_sc_tsukioka{color:#f84cad;}
#idol_sc_tanaka{color:#a846fb;}
#idol_sc_shirase{color:#006047;}
#idol_sc_mitsumine{color:#3b91c4;}
#idol_sc_yuko{color:#d9f2ff;}

/* 알스트로메리아 */
#idol_sc_osaki01{color:#f54174;} /* 아마나 */
#idol_sc_osaki02{color:#e75aec;} /* 텐카 */
#idol_sc_kuwayama{color:#fbfbfb;}

/* 방과후 클라이맥스 걸즈 */
#idol_sc_komiya{color:#cb492d;}
#idol_sc_sonoda{color:#f93a90;}
#idol_sc_saijo{color:#ffc601;}
#idol_sc_morino{color:#89c3eb;}
#idol_sc_arisugawa{color:#90e666;}

/* Straylight */
#idol_sc_mayuzumi{color: #5ce626;}
#idol_sc_serizawa{color: #f30100;}
#idol_sc_izumi{color: #ff00ff;}

/* noctchill */
#idol_sc_ichikawa{color: #ffc639;}
#idol_sc_asakura{color: #50d0d0;}
#idol_sc_higuchi{color: #be1e3e;}
#idol_sc_fukumaru{color: #7967c3;}

#idol_sc_nanakusa_officer{color:#8adfff;} /* 나나쿠사 하즈키 */

/* SHHis */
#idol_sc_nanakusa_idol{color: #a5cdb6;} /* 나나쿠사 니치카 */
#idol_sc_aketa{color: #750e0f;}


#idol_sc_kuwayama,#idol_sc_yuko{text-shadow: 0px -1px #888888, 1px 0px #888888, 0px 1px #888888, -1px 0px #888888 !important;}